apiVersion: apps/v1
kind: Deployment
metadata:
  name: pep-proxy
  namespace: proxy-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pep-proxy
  template:
    metadata:
      labels:
        app: pep-proxy
    spec:
      containers:
      - name: pep-proxy
        image: pep-proxy-fastapi:local
        imagePullPolicy: IfNotPresent
        env:
        - name: POLICY_SYNC_BACKEND
          value: opa
        - name: OPA_URL
          value: http://opa.opa.svc.cluster.local:8181
        - name: OPAL_SERVER_URL
          value: http://opal-server.opal.svc.cluster.local:7002
        - name: OPAL_MASTER_TOKEN
          value: THIS_IS_A_DEV_SECRET_CHANGE_ME
        - name: OPAL_DATA_TOPIC
          value: tenant_policies
        - name: OPA_VERIFY_TLS
          value: "false"
        - name: OPAL_VERIFY_TLS
          value: "false"
        - name: REQUEST_TIMEOUT
          value: "20"
        - name: AUDIT_MAX_EVENTS
          value: "1000"
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: pep-proxy
  namespace: proxy-system
spec:
  selector:
    app: pep-proxy
  ports:
  - name: http
    port: 8080
    targetPort: 8080
